---
import Layout from "../layouts/Layout.astro";
import ChatBoot from "../components/ChatBoot.astro";
---

<Layout title="Aplicaciones Gane (Servired - Multired)">
	<main class="flex items-center justify-center h-[100vh]">
		<ChatBoot />
	</main>
</Layout>

<style></style>
