---
import Layout from "../layouts/Layout.astro";
import Proyects from "../components/Proyecto.astro";
---

<Layout title="Aplicaciones Gane (Servired - Multired)">
	<main class="flex items-center justify-center h-[100vh]">
		<Proyects />
	</main>
</Layout>

<style></style>
