---
import Layout from "../layouts/Layout.astro";
import ChatBoot from "../components/ChatBoot.astro";
import Bodega from '../components/Bodega.astro';
---

<Layout title="Aplicaciones Gane (Servired - Multired)">
	<main class="flex items-center justify-center h-[100vh] gap-4">
		<ChatBoot />
		<Bodega />
	</main>
</Layout>

<style></style>
