---
import TelIcon from "./Icons/CelIcon.astro";
import DocIcon from "./Icons/DocIcon.astro";
import DataIcon from "./Icons/DataIcon.astro";
import ArrowIcon from "./Icons/Button.astro";
---

<section class="flex gap-4">
  <section class="flex flex-col justify-around items-center w-80 h-[520px] bg-gray-800 border-gray-200 rounded-xl shadow-lg border">
    <h5 class="text-2xl text-center font-bold text-orange-400 py-4">
      Chat_Boot Validator
    </h5>

    <figure class="flex w-full justify-center gap-4"><TelIcon /><DocIcon /><DataIcon /></figure>

    <article class="py-5 pl-4 flex flex-col items-center">
      <p class="py-2 font-normal text-white text-pretty">
        Aplicaci칩n para validar registros del chatboot, verificando la informaci칩n de los usuarios.
      </p>
      <p class="py-2 font-normal text-white text-pretty">
        Posterior se agregar치n a base de datos empresarial (Bnet) y habilit치ndolos para acumular puntos.
      </p>
    </article>

    <section class="flex py-4">
      <figure>
        <img src="/multired.png" width="130" alt="MULTIRED">
      </figure>
      <figure>
        <img src="/servired.png" width="130" alt="SERVIRED">
      </figure>
    </section>

    <a href="/chat_bot/index.html" class="flex items-center bg-green-600 py-2 px-8 rounded-md hover:bg-green-700">
      <p class="font-semibold up">Ingresar App</p>
      <figure class="pt-1">
        <ArrowIcon />
      </figure>
    </a>
  </section>
</section>
